REDIS_URL = localhost:6379
TINYGOROOT = C:\path\to\tinygo
TASK_QUEUE_LOG_LEVEL = info
TASK_QUEUE_LOG_FORMAT = pretty
TASK_QUEUE_SAVE_WASM_LOGS = false
TASK_QUEUE_MIRROR_WASM_LOGS = true
TASK_QUEUE_WASM_LOG_DIR = runtime-logs/wasm
